<link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="estilo.css" rel="stylesheet">

<div class="container">
    <div class="header clearfix  col-md-6 offset-md-3">
      <nav>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link" href="#">Entrar</a>
          </li>
        </ul>
      </nav>
      <h3 class="text-muted">Bem-vindo</h3>
    </div>
    <div class="container mt-5 mb-5">
    	<div class="row">
    		<div class="col-md-6 offset-md-3">
    			Sejam bem vindo a rede social da FC Solutions!
    		</div>
    	</div>
    </div>
    <footer class="footer col-md-6 offset-md-3">
      <p>&copy; FC Solutions 2019</p>
    </footer>
<div>
